@import '../../sass/sass-modules/colors';

/* =============================================
  Notifications Panel
================================================ */
.notificationPanel {
  border: 1px solid $grey-light-2;
  box-shadow: 0 2px 20px -1px rgba(#000, .5);
}

.header__notificationPanel {
  position: absolute;
  top: 3.75rem;
  right: 0;
  z-index: 1;
}

/* Element --- */
.notificationPanel__arrow {
  width: 1.6rem; 
  height: 1.6rem; 
  background-color: #fff;
  transform: rotate(45deg);
  box-shadow: 0 2px 20px -1px rgba(#000, .5);

  position: absolute;
  top: -.8rem;
  right: .66rem;
  z-index: -1;
}

/* =============================================
  Notifications List
================================================ */
.notificationList {
  text-align: left;
  width: calc(100vw - 2.1rem);
  max-width: 21rem;
  max-height: 70vh;
  overflow-y: auto;
  background: #fff;

  @media screen and (min-height: 45.7rem) {
    max-height: 32rem;
  }
}