@import '../../sass/sass-modules/breakpoints';

/* ==============================
  Movie Section
================================= */
.movieSection {
  max-width: 30rem;
  text-align: left;
}

.dashboard__movieSection {
  display: inline-block;
}

/* movie section title --- */
.movieSection__heading {
  position: absolute;
  left: -100rem;
} 

/* movie list item --- */
.movieList__item {
  margin-bottom: 2.5rem;
}