@import '../../sass-modules/colors';
@import '../../sass-modules/breakpoints';

/* ================================
  Header
=================================== */
.header {
  text-align: center;

  height: 3.75rem;
  padding: 0 1rem;
  background-color: $grey-dark-3;

  @media screen and (min-width: $break-header) {
    text-align: left;
  }
}

/* Element --- */
.header__desktopRightComponentsContainer {
  float: right;
}

/* ================================
  Navigation Sidebar
=================================== */
.navSidebar {
  text-align: left;

  width: 18rem;
  background-color: #fff;
}

.header__navSidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 2;

  transform: translateX(-100%);
  transition: transform .3s;
}

.menuIcon[aria-pressed="true"] ~ .header__navSidebar {
  transform: translateX(0);
}

/* Element --- */
.header__navSidebarOverlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba($color: #000000, $alpha: .5);
}

.menuIcon[aria-pressed="true"] ~ .header__navSidebarOverlay {
  display: block;
}