@import '../../sass-modules/colors';
@import '../../sass-modules/breakpoints';

/* ================================
  Header
=================================== */
.header {
  text-align: center;

  height: 3.75rem;
  padding: 0 1rem;
  background-color: $grey-dark-3;

  @media screen and (min-width: $break-header) {
    text-align: left;
  }
}

/* Container --- */
.headerDesktopRightComponentsContainer {
  float: right;
}