/* ==========================
  Logo
============================= */
.logo {
  text-decoration: none;
  color: #fff;
}

.header__logo {
  line-height: 3.75rem;
}

/* Elements --- */
.logo__heading {
  margin: 0;
}