@import '../../sass/sass-modules/breakpoints';

/* ==================================
  Home
===================================== */
.home {
  text-align: center;
  padding: 2rem 0 0;

  @media screen and (min-width: $break-dashboard) {
    padding: 2rem 1rem 0;
  }

  @media screen and (min-width: $break-dashboard) {
    text-align: left;
  }
}

/* Element --- */
.home__heading {
  position: absolute;
  left: -100rem;
} 