/* =============================================
  Header
================================================ */
.header {
  background-color: #424242;
  padding: .26rem 1rem;

  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 668px) {
    padding: 0 1rem;
  }
}

.header__logo {
  position: absolute;

  @media screen and (min-width: 668px) {
    position: static;
    margin-right: auto;
  }
}

.header__navigation {
  align-self: stretch;
}

.header__signOut {
  margin: 0 1.5rem;
}

/* =============================================
  Logo
================================================ */
.logo {
  color: #fff;
  text-decoration: none;
  padding: .5rem 0;
}

.logo__heading {
  margin: 0;
}

/* =============================================
  NavBar
================================================ */
.navigation {
  display: none;

  @media screen and (min-width: 668px) {
    display: block;
  }
}

.navigation__heading {
  position: absolute;
  left: -100rem;
}

/* =============================================
  NavMenu
================================================ */
.navigationMenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navigationMenu__item:first-child .navigationMenu__link {
  position: relative;
  padding-left: 2.8rem;
}

.navigationMenu__item {
  display: inline-block;
}

.navigationMenu__link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1.2rem .5rem;

  transition: background-color .1s;
}

.navigationMenu__link:hover {
  background-color: #212121;
}

.navigationMenu__avatar {
  vertical-align: middle;
  margin-right: .3rem;
}

/* =============================================
  Button
================================================ */
.button {
  font-size: .8rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* =============================================
  Auth Button
================================================ */
.authButton {
  color: #fff;
  padding: .7rem .3rem;
  background-color: #212121;
  border: 1px solid;
  border-radius: .7rem;
}

/* =============================================
  signOut
================================================ */
.signOut {
  display: none;

  @media screen and (min-width: 668px) {
    display: block;
  }
}

/* =============================================
  Avatar
================================================ */
.avatar {
  width: 2rem;
  height: 2rem;
  background-color: #212121;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .5rem;
}

/* =============================================
  Notifications
================================================ */
.notifications {
  width: 2.3rem;
  position: relative;
}

.notifications__badge {
  position: absolute;
  top: -.3rem;
  right: .2rem;
  color: #fff;
  background-color: #f44336;
  padding: .1rem .15rem;
  border-radius: .2rem;
}

/* =============================================
  image
================================================ */
.image {
  max-width: 100%;
}

/* =============================================
  Menu Icon
================================================ */
.menuIcon {
  width: 3rem;
  padding: .7rem;
  margin-right: auto;

  @media screen and (min-width: 668px) {
    display: none;
  }
}