/* =============================================
  Header
================================================ */
.header {
  text-align: center;

  height: 3.75rem;
  padding: 0 .5rem;
  background-color: #424242;

  position: relative;

  @media screen and (min-width: 668px) {
    text-align: left;
  }
}

/* =============================================
  Logo
================================================ */
.logo {
  color: #fff;
  text-decoration: none;
}

.header__logo {
  display: inline-block;
  line-height: 3.75rem;
}

.logo__heading {
  margin: 0;
}

/* =============================================
  Button
================================================ */
.button {
  font-size: .8rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* =============================================
  Menu Icon
================================================ */
.menuIcon {
  width: 3rem;
  padding: .981rem .7rem;

  @media screen and (min-width: 668px) {
    display: none;
  }
}

.header__menuIcon {
  float: left;
}

/* =============================================
  Notifications Icon
================================================ */
.notificationsIcon {
  width: 3rem;
  padding: .981rem .7rem;

  position: relative;
}

.header__notificationsIcon {
  float: right;
}

.notificationsIcon__badge {
  line-height: normal;
  color: #fff;
  background-color: #f44336;
  padding: .1rem .15rem;
  border-radius: .2rem;

  position: absolute;
  top: .4rem;
  right: .6rem;
}

/* =============================================
  NavBar
================================================ */
.navigation {
  display: none;

  @media screen and (min-width: 668px) {
    display: block;
  }
}

.header__navigation {
  float: right;
}

.navigation__heading {
  position: absolute;
  left: -100rem;
}

/* =============================================
  NavMenu
================================================ */
.navigationMenu {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navigationMenu__item:first-child .navigationMenu__link {
  position: relative;
  padding-left: 2.8rem;
}

.navigationMenu__item {
  display: inline-block;
}

.navigationMenu__link {
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 1.219rem .5rem;

  transition: background-color .1s;
}

.navigationMenu__link:hover {
  background-color: #212121;
}

.navigationMenu__avatar {
  vertical-align: middle;
  margin-right: .3rem;
}

/* =============================================
  Avatar
================================================ */
.avatar {
  width: 2rem;
  height: 2rem;
  background-color: #212121;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .5rem;
}

/* =============================================
  Auth Button
================================================ */
.authButton {
  color: #fff;
  padding: .7rem .3rem;
  background-color: #212121;
  border: 1px solid;
  border-radius: .7rem;
}

/* =============================================
  signOut
================================================ */
.signOut {
  display: none;

  @media screen and (min-width: 668px) {
    display: block;
  }
}

.header__signOut {
  float: right;
  margin: .64rem 1rem;
}

/* =============================================
  image
================================================ */
.image {
  max-width: 100%;
}

