@import '../sass-modules/colors';

/* =============================================
  Avatar
================================================ */
.avatar {
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid $grey-light-1;
  border-radius: 50%;
}

// Modifiers
.avatar_size_small {
  width: 2rem;
  height: 2rem;
}

.avatar_size_med {
  width: 3rem;
  height: 3rem;
}