/* =============================================
  Auth Button
================================================ */
.authButton {
  color: #fff;
  padding: .7rem .3rem;
  background-color: #212121;
  border: 1px solid;
  border-radius: .7rem;
}