@import '../../sass/sass-modules/colors';

/* ================================
  Header
=================================== */
.header {
  height: 3.75rem;
  padding: 0 1rem;
  background-color: #fff;
  border-bottom: 1px solid $grey-light-2;
}

.App__header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

/* Element --- */
.header__desktopRightComponentsContainer {
  float: right;
}

.notificationPanel__overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba($color: #000000, $alpha: .5);
}