/* =============================================
  Logo
================================================ */
.logo {
  color: #fff;
  text-decoration: none;
  
  display: inline-block;
}

.header__logo {
  line-height: 3.75rem;
}

// Element --- */
.logo__heading {
  margin: 0;
}