@import '../../sass/sass-modules/colors';

/* ==========================
  Logo
============================= */
.logo {
  display: inline-block;
  text-decoration: none;
  color: $grey-dark-4;
}

.header__logo {
  line-height: 3.75rem;
}

/* Elements --- */
.logo__heading {
  margin: 0;
}