@import '../../sass/sass-modules/colors';
@import '../../sass/sass-modules/breakpoints';

/* ==========================
  Logo
============================= */
.logo {
  display: inline-block;
  text-decoration: none;
  color: $grey-dark-4;
}

.header__logo {
  line-height: 3.75rem;
}

/* Elements --- */
.logo__heading {
  margin: 0;
}

.logo__headingAbbreviated {
  text-decoration: none;
  @media screen and (min-width: $break-logo) {
    display: none;
  }
}

.logo__headingExpanded {
  display: none;
  @media screen and (min-width: $break-logo) {
    display: block;
  }
}