/* =============================================
  Button
================================================ */
.button {
  font-size: .8rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* =============================================
  Menu Icon
================================================ */
.menuIcon {
  width: 3rem;
  padding: .981rem .7rem;

  @media screen and (min-width: 668px) {
    display: none;
  }
}

.header__menuIcon {
  float: left;
}