@import '../../sass-modules/colors';

/* =============================================
  Navigation
================================================ */
.navigation {
  display: none;

  @media screen and (min-width: 668px) {
    display: block;
  }
}

/* Elements --- */
.header__navigation {
  float: left;
}

.navigation__heading {
  position: absolute;
  left: -100rem;
}

/* =============================================
  Navigation Menu
================================================ */

/* Elements --- */
.navigationMenu__item:first-child .navigationMenu__link {
  position: relative;
  padding-left: 2.8rem;
}

.navigationMenu__item {
  display: inline-block;
}

.navigationMenu__link {
  display: block;
  color: #fff;
  padding: 1.219rem .5rem;

  transition: background-color .1s;

  &:hover,
  &:focus {
    background-color: $grey-dark-4;
  }
}

.navigationMenu__avatar {
  margin-right: .3rem;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: .5rem;
}