@import '../../sass-modules/colors';

/* =================================
  Sign Up
==================================== */
.header__signUp {
  color: #fff;
  margin-right: .4rem;

  transition: background-color .1s;

  &:hover,
  &:focus {
    background-color: $grey-dark-4;
  }
}