@import '../../sass-modules/colors';

/* Element --- */
.header__signOut {
  color: #fff;
  display: none;
  float: left;
  margin: .64rem 1.5rem;
  transition: background-color .1s;

  &:hover,
  &:focus {
    background-color: $grey-dark-4;
  }

  @media screen and (min-width: 668px) {
    display: block;
  }
}