@import '../../sass-modules/colors';

/* =================================
  Sign In
==================================== */
.header__signIn {
  color: #fff;
  margin-top: .64rem;

  transition: background-color .1s;

  &:hover,
  &:focus {
    background-color: $grey-dark-4;
  }
}