/* =============================================
  Avatar
================================================ */
.avatar {
  vertical-align: middle;
  background-color: #bdbdbd;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
}

// Modifiers
.avatar_size_small {
  width: 2rem;
  height: 2rem;
}

.avatar_size_med {
  width: 3rem;
  height: 3rem;
}