@import '../../sass/sass-modules/breakpoints';
@import '../../sass/sass-modules/colors';

/* ==============================
  Member Section
================================= */
.memberSection {
  background-color: #fff;
  border: 1px solid $grey-light-2;
  min-width: 14.5rem;
}

.dashboard__memberSection {
  display: none;

  @media screen and (min-width: $break-dashboard2) {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }

  @media screen and (min-width: $break-dashboard2) and (min-height: 26rem) {
    position: fixed;
    top: 5.57rem;
    right: calc((100vw - 60rem) / 2);
  }

  @media screen and (min-width: $break-dashboard2) and (min-height: 26rem) and (max-width: 62rem) {
    right: 1rem!important;
  }
}

/* member section title --- */
.memberSection__heading {
  color: $grey-dark-2;
  margin: .6rem 1rem 1rem;
} 

/* member list */
.memberSection__list {
  overflow: auto;
  max-height: 17rem;
}

