@import '../../sass-modules/colors';

/* =============================================
  Notifications Icon
================================================ */
.notificationsIcon {
  width: 3rem;
  padding: .981rem .7rem;

  position: relative;
}

.header__notificationsIcon {
  float: left;
}

/* Element --- */
.notificationsIcon__badge {
  color: #fff;
  background-color: $red;
  padding: .1rem .15rem;
  border-radius: .2rem;

  position: absolute;
  top: .4rem;
  right: .6rem;
}
