/* =========================================
Header
============================================ */
$break-header: 41.75rem;

/* =========================================
Dashboard
============================================ */
$break-dashboard: 30rem;
$break-dashboard2: 60rem;