/* ==================================
  Dashboard
===================================== */
.dashboard {
  padding: 2rem 0 0;
}

/* Element --- */
.dashboard__heading {
  position: absolute;
  left: -100rem;
} 