@import '../../sass-modules/colors';

/* ===============================
  Movie
================================== */
.movie {
  max-width: 30rem;
  padding: 0 1rem;
  background-color: #fff;
  border: 1px solid #e6e6e6;
}

/* header --- */
.movie__header {
  padding: .6rem 0;
}

/* avatar link --- */
.movie__userAvatarLink {
  margin-right: .5rem;
}

/* user name link --- */
.movie__userNameLink {
  text-decoration: none;
  color: $grey-dark-4;
  font-weight: 500;
}

/* image button --- */
.movie__imageButton {
  border: none;
  padding: 0;
  margin: 0 -1rem 0 -1rem;
}

/* movie name --- */
.movie__name {
  display: inline-block;

  font-size: 1.7rem;
  margin: .5rem .7rem .4rem 0;
}

/* movie genre --- */
.movie__genre {
  color: $grey-dark-2;
}

/* like --- */
.movie__likeButton {
  vertical-align: middle;
  width: 3rem;
  padding: 1rem 1rem 1rem 0;
  border: none;
}

/* like number --- */
.movie__likeNumber {
  display: inline-block;
}

/* footer --- */
.movie__footer {
  padding-bottom: .6rem;
}

/* liker --- */
.movie__liker {
  text-decoration: none;
  font-weight: 500;
  color: $grey-dark-4;
}

/* other likers --- */
.movie__otherLikers {
  text-decoration: none;
  font-weight: 500;
  color: $grey-dark-4;
}

/* time --- */
.movie__time {
  color: $grey-dark-2;
}

/* star item --- */
.movie__starItem {
  display: inline-block;
  width: 1rem;
  margin-right: .1rem;
}