@import '../../sass-modules/breakpoints';

/* ==============================
  Movie Section
================================= */
.movieSection {
  max-width: 30rem;
}

.dashboard__movieSection {
  margin: 0 auto;

  @media screen and (min-width: $break-dashboard2) {
    display: inline-block;
    width: 50%;
  }
}

/* movie section title --- */
.movieSection__heading {
  position: absolute;
  left: -100rem;
} 

/* movie list item --- */
.movieList__item {
  margin-bottom: 2.5rem;
}