/* =========================================
Header
============================================ */
$break-header: 41.75rem;

/* logo */
$break-logo: 23.125rem;

/* =========================================
Dashboard
============================================ */
$break-dashboard: 30rem; // add padding
$break-dashboard2: 48.93rem; // movies / members
// $break-dashboard3: 70rem;

$break-sidebar: 13.6875rem;
