/* =========================================
Header
============================================ */
$break-header: 41.75rem;

/* =========================================
Dashboard
============================================ */
$break-dashboard: 30rem; // add padding
$break-dashboard2: 48.93rem; // movies / members
// $break-dashboard3: 70rem;