@import '../../sass/sass-modules/colors';
@import '../../sass/sass-modules/breakpoints';

/* ==============================
  Desktop Navigation Bar
================================= */
.desktopNavBar {
  display: none;

  @media screen and (min-width: $break-header) {
    display: block;
  }
}

.header__desktopNavBar {
  float: left;
}

/* Elements --- */
.desktopNavBar__heading {
  position: absolute;
  left: -100rem;
}

/* ==============================
  Desktop Navigation Menu
================================= */

/* Elements --- */
.desktopNavMenu__item {
  display: inline-block;
}

.desktopNavMenu__link {
  display: block;
  line-height: 3.75rem;
  text-decoration: none;
  color: $grey-dark-4;

  padding: 0 .8rem;

  transition: background-color .1s;

  &:hover,
  &:focus {
    background-color: $grey-light-2;
  }
}

.desktopNavMenu__avatar {
  margin-right: .3rem;
}