@import '../../sass/sass-modules/colors';
@import '../../sass/sass-modules/breakpoints';

/* ==========================
  Logo
============================= */
.logo {
  text-decoration: none;
  color: $grey-dark-4;
}

.header__logo {
  line-height: 3.75rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media screen and (min-width: $break-header) {
    position: static;
    display: inline-block;
    transform: translateX(0);
  }
}

/* Elements --- */
.logo__heading {
  margin: 0;
}

.logo__headingAbbreviated {
  text-decoration: none;
  @media screen and (min-width: $break-logo) {
    display: none;
  }
}

.logo__headingExpanded {
  display: none;
  @media screen and (min-width: $break-logo) {
    display: block;
  }
}